Repository MicrosoftEdge/WebView2Feedback, pull requests merged in 2022-11, with the labels that each got.

#2908 API review for wv2winrt Cacheable Properties
  specs/wv2winrt-cacheable-properties.md
Labels: API Proposal Review, review completed

#2947 Create DisableNavigatingBackAndForward.md
  specs/DisableNavigatingBackAndForward.md
Labels: API Proposal Review

#2980 Diagnostics update
  diagnostics.md
  diagnostics/README.md
  diagnostics/WebView2.wprp
  diagnostics/WebView2_CPU.wprp
  diagnostics/crash.md
  diagnostics/etw.md
  diagnostics/gpu.md
  diagnostics/install.md
  diagnostics/network.md
Labels: doc

#2886 Add spec for Tracking Prevention.
  specs/TrackingPrevention.md
  specs/images/TrackingPreventionLevels.png
Labels: API Proposal Review, review completed

#2981 Initial API Review for WebMessage objects and CoreWebView2File.
  specs/WebMessageObjects.md
Labels: API Proposal Review
